<style>
  .bank-logo-img{
    width: 50px;
  }
</style>

<div class="main-panel">
  <div class="content-wrapper">
    <div class="card col-12">
      <div class="card-body">
        <div class="titleSec">
          <h2>Logo Upload</h2>
        </div>
        
        <form action="/super-admin/logo_upload" method="post" id="myForm" enctype="multipart/form-data">
          <div class="row">
            <div class="form-group col-md-7">
              <label for="bank"><b>Bank Name:</b></label>
              <select name="bank" class="form-control" id="bank" required>
                <option value="">Select Bank Name</option>
                <% 
                var user_bank = user.user_data.msg[0].bank_id,
                user_type = user.user_data.msg[0].user_type;
                data.msg.forEach(function(item2,index) {
                    var _selected = '';
                    if(user_type == 'B' && user_bank == item2.bank_id){
                      _selected = 'selected';
                    }
                  %>
                  <option value="<%=item2.bank_id%>" <%= _selected %>>
                    <%=item2.bank_name%>
                  </option>
                  <% }); %>

              </select>
            </div>
            <input type="hidden" id="bank" value="<%= data.bank_id%>">
            <input type="hidden" id="bank_image" value="" name="bank_image">
            <div class="form-group col-md-5" style="margin-top: 30px;">
              <button type="submit" id="submitbtn" class="btn btn-success" disabled>Upload</button>
            </div>


            <div class="form-group col-md-12">
              <label for="bank" id="photo1"><b>Upload Logo:</b>&nbsp;
                <span id="act_dt" style="font-size: 12px; color: red;">(.JPG, .JPEG, .PNG)&nbsp;(*File size should not be more than 2MB)</span></label><br>
              <input type="file" name="photo" id="photo" accept=".jpg, .jpeg, .png" onchange="previewImage()">
                <img id="imagePreview" src="<%= data.length > 0 ? `/bank_logo/${data[0].file_path}` : '#' %>" alt="Image Preview" class="center" style="display:<%= data.length > 0 ? 'block' : 'none' %>; max-width: 400px; max-height: 400px; margin-top: 2vw;">
            </div>
            <div class="col-md-12">
              <table class="showAgentDtls table table-bordered">
                <thead>
                  <tr>
                    <td>#</td>
                    <td>Bank Name</td>
                    <td>Image</td>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

<script>
  $('.showAgentDtls').hide()
  $('#bank').change(function(){
    var bank_id = $(this).val()
    var tbody = $(".showAgentDtls tbody");
    $("#bank_image").val('');
    $.ajax({
      type: "POST",
      url: "/super-admin/get_logo",
      data: { bank_id: bank_id },
      success: function(response) {
        tbody.empty();
        if(response.suc > 0 && response.msg.length > 0)
response.msg.forEach(function (item,index) {
            var row =
              "<tr>" +
                "<td>" +
                  (index+1) +
                "</td>" +
                "<td>" +
              item.bank_name +
              "</td>" +
              "<td><a href='/bank_logo/" + item.file_path +"' target='_blank'><img class='bank-logo-img' src='/bank_logo/" + item.file_path +"'></a></td>" +
              "</tr>";
            tbody.append(row);
            $('.showAgentDtls').show()

                  $("#bank_image").val(item?.file_path);
           

          });
        else{
          $('.showAgentDtls tbody').append(`
            <tr>
              <td colspan="2" class="text-danger text-center">No data found</td>
            </tr>
          `)
        }

      },
    error: function (error) {
      console.log(error);
      tbody.empty();
      $('.showAgentDtls').hide()

    },
  });

  });
</script>

<script>
  <% if(user.user_data.msg[0].user_type != 'B'){ %>
  $("#photo1").hide()
  $("#photo").hide()
  $('#submitbtn').hide()
  $('#bank').change(function () {
    $("#photo1").show()
    $("#photo").show()
    $('#submitbtn').show()
  })
  <% }else{ %>
    $('#submitbtn').removeAttr('disabled')
  <% } %>
</script>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  function previewImage() {
    var input = document.getElementById('photo');
    var preview = document.getElementById('imagePreview');

    var file = input.files[0];
    if (file) {
      var reader = new FileReader();
      reader.onload = function (e) {
        preview.src = e.target.result;
        preview.style.display = 'block';
      };
      reader.readAsDataURL(file);
    } else {
      preview.src = '#';
      preview.style.display = 'none';
    }

    // enable upload button
    var fileInput = document.getElementById('photo');
    var uploadButton = document.getElementById('submitbtn');
    uploadButton.disabled = !fileInput.value;
  }
</script>