<div class="main-panel">
  <div class="content-wrapper">
    <div class="card col-12">
      <div class="card-body">
        <div class="titleSec">
          <!-- <button type="button" class="btn btn-primary" id="myBtn">Add</button> -->
          <h2>Edit Agent Details</h2>
        </div>
        <form action="/bank/update_agent/<%=data[0].id%>" id="myForm" method="post">
          <div class="titleSec">
           <input type="hidden" name="branch_code" value="<%=data[0].branch_code%>">
            <h5>Branch : <%=data[0].branch_name%></h5>
          </div>
          <div class="row">
            <div class="form-group col-6">
              <label for="agent_c">Agent Code:</label>
              <input type="text" id="agent_c" name="user_id" class="form-control" value="<%=data[0].user_id%>" required readonly/>
            </div>

            <div class="form-group col-6">
              <label for="name">Name:</label>
              <input
              id="name"
                type="text"
                name="name"
                class="form-control"
                placeholder="Enter Name"
                value="<%=data[0].agent_name%>"
                required
              />
            </div>

            <div class="form-group col-6">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" class="form-control" value="<%=data[0].email_id%>" required/>
            </div>

            <div class="form-group col-6">
              <label for="mobile">Mobile No.:</label>
              <input type="text" id="mobile" name="mobile" class="form-control" value="<%=data[0].phone_no%>" required/>
            </div>

            <div class="form-group col-6">
              <label for="max_amt">MAX Allowable Collection Amount :</label>
              <input
              id="max_amt"
                type="number"
                name="max_amt"
                class="form-control"
                value="<%=data[0].max_amt%>"
                required
              />
            </div>
            <div class="form-group col-6" style="display: <%= user.user_data.msg[0].max_day_entry_flag!='D' ? 'none' : 'block' %>;">
              <label for="allow_collection_days">Max allowable no.of days :</label>
              <input
                type="number"
                name="allow_collection_days"
                class="form-control"
                id="allow_collection_days"
                value="<%= data[0].allow_collection_days > 0 ? data[0].allow_collection_days : 0 %>"
                required
              />
            </div>

            
            <!-- <div class="form-group col-6">
              <label for="agent">Serial NO. :</label>
              <input
                type="text"
                name="device_sl_no"
                class="form-control"
                value="<%=data[0].device_sl_no%>"
              />
            </div> -->
            <div class="form-group col-6">
              <label for="deviceId">Device Id. :</label>
              <input
              id="deviceId"
                type="text"
                name="device_id"
                class="form-control"
                value="<%=data[0].device_id%>"
                required
              />
            </div>
            

            <!-- <div class="form-group col-6">
                <label for="agent">Profile Pic. :</label>
                <input
                  type="file"
                  name="profile_pic"
                  class="form-control"
                  value=""
                />
              </div> -->

            <!-- <div class="form-group col-8">
              <label for="agent">Address :</label>
              <textarea name="adress" class="form-control" id=""><%=data[0].agent_address%></textarea>
            </div> -->


            
            <div class="form-group col-6">
              <label for="success"></label>
              <input 
              type="checkbox" 
              value="Y" 
              id="myCheckbox" 
              data-toggle="toggle" 
              data-onstyle="success" 
              data-offstyle="danger" 
              data-on="Active" 
              data-off="Deactive" 
              name="agent_active"
              <%=(data[0].active_flag=='Y')?'checked':''%>
              >
              
              </div>
              

            <div class="form-group col-12">
              <input
                type="submit"
                value="SUBMIT"
                class="btn btn-primary btn-block"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>