<div class="main-panel">
    <div class="content-wrapper">
      <div class="card col-12">
        <div class="card-body">
          <div class="titleSec">
            <!-- <button type="button" class="btn btn-primary" id="myBtn">Add</button> -->
            <h2>Edit Agent Details</h2>
          </div>
          <form action="/super-admin/update_agent_data" id="myForm" method="post">
            <input type="hidden" name="bank" value="<%= data.bank_id %>">
            <div class="titleSec">
              <h5>Branch : <%= data.branch_name %></h5>
            </div>
            <div class="row">

              <div class="form-group col-6">
                <label for="bank"><b>Bank Name:</b></label>
                <select name="bank"
                class="form-control"
                id="bank" disabled
                >
                  <option value="">Select Bank Name</option>
                  <option value="1" <%= data.bank_id == '1' ? 'selected' : '' %>>Bihar Co-operative Credit Society Ltd.</option>
                  <option value="2" <%= data.bank_id == '2' ? 'selected' : '' %>>The Puri Urban and Rural Development Cooperative Society Ltd.</option>
                  <option value="3" <%= data.bank_id == '3' ? 'selected' : '' %>>Demo Bank</option>
                  <option value="4" <%= data.bank_id == '4' ? 'selected' : '' %>>Shyamaprasanna SKUS Ltd</option>
                </select>
              </div>
              <div class="form-group col-6">
                <label for="branch_c">Branch Code:</label>
                <input
                  type="text"
                  id="branch_c"
                  name="branch_c"
                  class="form-control"
                  value="<%= data.branch_code %>"
                  readonly
                />
              </div>
              <div class="form-group col-6">
                <label for="agent_c">Agent Code:</label>
                <input type="text" id="agent_c" name="user_id" class="form-control" value="<%= data.agent_code %>" readonly/>
              </div>
  
              <div class="form-group col-6">
                <label for="name">Name:</label>
                <input
                id="name"
                  type="text"
                  name="name"
                  class="form-control"
                  placeholder="Enter Name"
                  value="<%= data.agent_name %>"
                  
                />
              </div>
  
              <div class="form-group col-6">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="form-control" value="<%= data.email_id %>" readonly/>
              </div>
  
              <div class="form-group col-6">
                <label for="mobile">Mobile No.:</label>
                <input type="text" id="mobile" name="mobile" class="form-control" value="<%= data.phone_no %>" />
              </div>
  
              <div class="form-group col-6">
                <label for="max_amt">MAX Allowable Collection Amount :</label>
                <input
                id="max_amt"
                  type="number"
                  name="max_amt"
                  class="form-control"
                  value="<%= data.max_amt %>"
                />
              </div>
              <div class="form-group col-6">
                <label for="allow_collection_days">Max allowable no.of days :</label>
                <input
                  type="number"
                  name="allow_collection_days"
                  class="form-control"
                  id="allow_collection_days"
                  value="<%= data.allow_collection_days %>"
                />
              </div>
  
              <div class="form-group col-6">
                <label for="deviceId">Device Id. :</label>
                <input
                id="deviceId"
                  type="text"
                  name="device_id"
                  class="form-control"
                  value="<%= data.device_id %>"
                />
              </div>

              <div class="form-group col-6">
                <label for="success"></label>
                <input 
                type="checkbox" 
                value="Y" 
                id="myCheckbox" 
                data-toggle="toggle" 
                data-onstyle="success" 
                data-offstyle="danger" 
                data-on="Active" 
                data-off="Deactive" 
                name="agent_active"
                <%=(data.active_flag=='Y')?'checked':''%>
                >
                
                </div>

                <input type="hidden" name="agent_id" value="<%= agent_id %>">
              
              <div class="form-group col-6">
                <div class="col-6">
                    <input
                    type="submit"
                    value="SUBMIT"
                    class="btn btn-primary btn-block" style="margin-left: 25vw;"
                  />
                </div>
               
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
  