<div class="main-panel">
    <div class="content-wrapper">
      <div class="card col-12">
        <div class="card-body">
          <div class="titleSec">
            <h2>Inactive Bank Details</h2>
          </div>
          <table id="example2" class="table table-striped table-bordered" style="width:100%">
            <thead>
              <tr>
                <th>Sl. No.</th>
                <th>Bank Name</th>
                <th>Contact Person</th>
                <th>Phone NO</th>
                <th>Active Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                <% data.msg.forEach(function(item,index) { %>

                    <tr>
                      <td><%=(index+1)%></td>
                      <td><%=item.bank_name%></td>
                      <td><%=item.contact_person%></td>
                      <td><%=item.phone_no%></td>
                      <td><h5><span class="badge badge-danger"><%=item.active_flag=='N'? 'Deactive' : ''%></span></h5></td>
                      <td><a class="btn btn-info view-button" href="/super-admin/edit_inactive_bank_list?bank_id=<%= item.bank_id %>">Edit</a></td>

                    </tr>
        
                    <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>