<div class="main-panel">
  <div class="content-wrapper">
    <div class="card col-12">
      <div class="card-body">
        <div class="titleSec">
          <button type="button" class="btn btn-primary" id="myBtn">Add</button>
          <h2>Active Bank Details</h2>
        </div>
        <!-- <input type="file" name="myFile" class="" id="pctxFile"> -->
        <table id="example2" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>Sl. No.</th>
              <th>Bank Name</th>
              <th>Contact Person</th>
              <th>Phone NO</th>
              <th>Max User</th>
              <th>Action</th>
              <!-- <th>Action</th> -->
            </tr>
          </thead>
          <tbody>
            <% data.msg.forEach(function(item,index) { %>

            <tr>
              <td><%=(index+1)%></td>
              <td><%=item.bank_name%></td>
              <td><%=item.contact_person%></td>
              <td><%=item.phone_no%></td>
              <!-- <td>
                <h5><span class="badge badge-success"><%# item.active_flag=='Y'? 'Active' : ''%></span></h5> 
              </td> -->
              <td><%=item.max_user %></td>
              <td><a class="btn btn-info view-button" href="/super-admin/edit_bank?bank_id=<%= item.bank_id %>">Edit</a></td>

              <!-- <td>
                <a href="/super-admin/edit_bank/<%=item.bank_id%>" class="btn btn-info"
                  >Edit</a
                >
              </td> -->
            </tr>

            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="myBank">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Create Bank</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="/super-admin/add_bank" method="post" id="myForm">
          <div class="row">
            <div class="form-group col-12">
              <label for="bank_name">Bank Name:</label>
              <input
                type="text"
                id="bank_name"
                name="bank_name"
                class="form-control"
                value=""
                required
              />
            </div>

            

            <div class="form-group col-4">
              <label for="contact_person">Contact Person:</label>
              <input
                type="contact_person"
                name="contact_person"
                class="form-control"
                id="contact_person"
                required
              />
            </div>
            <div class="form-group col-4">
              <label for="mobile">Mobile No:</label>
              <input
                type="number"
                name="mobile"
                class="form-control"
                id="mobile"
                required
              />
            </div>

            <div class="form-group col-4">
              <label for="email">Email:</label>
              <input
                type="text"
                name="email"
                class="form-control"
                id="email"
                required
              />
            </div>
            <div class="form-group col-4">
              <label for="device_type">Device Type:</label>
              <select name="device_type"
              class="form-control"
              id="device_type" style="background-color: antiquewhite;"
              required>
                <option value="">Select Device Type</option>
                <option value="M">Mobile</option>
                <option value="H">Handheld</option>
              </select>
            </div>

            <div class="form-group col-4">
              <label for="data_version">Data Version:</label>
              
              <select name="data_version"
              class="form-control"
              id="data_version"
              required>
                <option value="">Select Data Version</option>
                <!-- <option value="S">Cochin Version with Mobile No</option>
                <option value="C">Cochin Version without Mobile(applicable in DDS Mc)</option>
                <option value="N">Normal Version(applicable in DDS Mc)</option> -->
                
                <option value="S">Cochin Version</option>
                <option value="C">Dhanbad Version</option>
                <option value="N">Normal Version</option>
              </select>
            </div>


            <div class="form-group col-4">
              <label for="data_transfer_type">Data transfer types:</label>
              <select name="data_transfer_type"
                class="form-control"
                id="data_transfer_type" style="background-color: antiquewhite;"
                required>
                <option value="">Select Data transfer types</option>
                <option value="M">Manual (upload & download data manually) </option>
                <option value="A">Automatically transfer data through API</option>
                <option value="P">Auto transfer data through procedure</option>
              </select>
            </div>

            <div class="form-group col-4">
              <label for="max_day_entry_flag">Max Collection Day Entry Flag:</label>
              <select name="max_day_entry_flag"
                class="form-control"
                id="max_day_entry_flag" style="background-color: antiquewhite;"
                required>
                <option value="">Select max Collection day entry flag</option>
                <% Object.keys(max_dt_col_entry_flag).forEach(dt => {
                  var _selected = ''
                  %>
                  <option value="<%= dt %>"><%= max_dt_col_entry_flag[dt] %></option>
                <% }) %>
              </select>
            </div>

            <div class="form-group col-4">
              <label for="receipt_type">Receipt type.:</label>
              <select  name="receipt_type"
              class="form-control"
              id="receipt_type" style="background-color: antiquewhite;"
              required>
              <option value="">Select Receipt type</option>
              <option value="S">SMS </option>
              <option value="P">Print</option>
              <option value="B">Both</option>
            </select>
            </div>


            <div class="form-group col-4">
              <label for="sucurity_amt_type">Security Amount type:</label>
              <select  name="sucurity_amt_type"
              class="form-control"
              id="sucurity_amt_type"
              required>
              <option value="">Select Security Amount type</option>
              <option value="A">Auto </option>
              <option value="M">Manual</option>
            </select>
            </div>


            <div class="form-group col-4">
              <label>Active flag:</label>
            
              <div class="form-check form-check-inline">
                <input
                  type="radio"
                  name="active_flag"
                  class="form-check-input"
                  id="active_option"
                  value="Y"
                  required
                />
                <label class="form-check-label" for="active_option">Active</label>
              </div>
            
              <div class="form-check form-check-inline">
                <input
                  type="radio"
                  name="active_flag"
                  class="form-check-input"
                  id="inactive_option"
                  value="N"
                  required
                />
                <label class="form-check-label" for="inactive_option">Inactive</label>
              </div>
            </div>

            <div class="form-group col-4">
              <label>After Maturity Collection:</label>
            
              <div class="form-check form-check-inline">
                <input
                  type="radio"
                  name="after_maturity_coll"
                  class="form-check-input"
                  id="maturity_active_option"
                  value="Y"
                  required
                />
                <label class="form-check-label" for="maturity_active_option">Yes</label>
              </div>
            
              <div class="form-check form-check-inline">
                <input
                  type="radio"
                  name="after_maturity_coll"
                  class="form-check-input"
                  id="maturity_inactive_option"
                  value="N"
                  required
                />
                <label class="form-check-label" for="maturity_inactive_option">No</label>
              </div>
            </div>

            <div class="form-group col-4">
              <label for="pin">Password:</label>
              <input
                type="password"
                name="password"
                class="form-control"
                id="pin"
                maxlength="4"
                required
              />
            </div>

            <div class="form-group col-4">
              <label for="cid">Confirm Password:</label>
              <input
                type="password"
                name="confirmPassword"
                class="form-control"
                id="cid"
                maxlength="4"
                required
              />
            </div>

            <div class="form-group col-4">
              <label for="mobile">Max User:</label>
              <input type="number" name="max_user" class="form-control" id="max_user" style="background-color: bisque;"
                value="0"/>
            </div>
           


            <div class="form-group col-12">
              <label for="bank_address">Bank Address:</label>
              <textarea  name="bank_address"
              id="bank_address"
              class="form-control"
              placeholder="Enter bank address"
              required cols="30" rows="3"></textarea>
              
            </div>

            <div class="form-group col-3 center">
              <input
                type="submit"
                value="SUBMIT"
                class="btn btn-primary btn-block" style="margin-left: 32vw;"
              />
            </div>
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#myBtn").click(function () {
      $("#myBank").modal();
    });
  });
</script>
