<div class="main-panel">
  <div class="content-wrapper">
    <div class="card col-12">
      <div class="card-body">
        <div class="titleSec">
          <!-- <button type="button" class="btn btn-primary" id="myBtn">Add</button> -->
          <h2>Edit Branch Details</h2>
        </div>
        <form action="/bank/updatedata_branch" method="post" id="myForm">
          <input type="hidden" name="branch_id" value="<%=data[0].branch_id %>">
          <input type="hidden" name="user_id" value="<%=data[0].id %>">
          <div class="row">
            <div class="form-group col-6">
              <label for="branch_c">Branch Code:</label>
              <input
                type="text"
                id="branch_c"
                name="branch_c"
                class="form-control"
                value="<%=data[0].branch_code %>"
                required
                readonly
              />
            </div>

            <div class="form-group col-6">
              <label for="branchname">Branch Name:</label>
              <input
                type="text"
                name="branchname"
                id="branchname"
                class="form-control"
                placeholder="Enter Branch Name"
                value="<%=data[0].branch_name %>"
                required
              />
            </div>

            <div class="form-group col-4">
              <label for="contactperson">Contact Person:</label>
              <input
                type="text"
                name="contactperson"
                id="contactperson"
                class="form-control"
                placeholder="Enter Name"
                value="<%=data[0].contact_person %>"
                required
              />
            </div>

            <div class="form-group col-4">
              <label for="email">Email:</label>
              <input
                type="email"
                name="email"
                class="form-control"
                id="email"
                value="<%=data[0].email_id %>"
                required
              />
            </div>
            <div class="form-group col-4">
              <label for="mobile">Mobile No.:</label>
              <input
                type="text"
                name="mobile"
                class="form-control"
                id="mobile"
                value="<%=data[0].phone_no %>"
                required
              />
            </div>

            
           
          
            <div class="form-group col-12">
              <label for="branch_address">Address :</label>
              <textarea name="branch_address" class="form-control" id="branch_address"><%=data[0].branch_address %></textarea>
            </div>

            <div class="form-group col-12">
              <input
                type="submit"
                value="SUBMIT"
                class="btn btn-primary btn-block"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>




<script>
  $(document).ready(function () {
    $("#myForm").validate({
      rules: {
        agent_c: "required",
        name: "required",
        mobile: "required",
        max_amt: {
          required: true,
          digits: true 
        },
        deviceId: "required",
        email: {
          required: true,
          email: true,
        },
      },
      messages: {
        agent_c: "Please enter Agent Code",
        name: "Please enter name",
        mobile: "Please enter Mobile No",
        max_amt: {
          required: "Please enter Max Allowable Collection Amount",
          digits: "Max Allowable Collection Amount must contain only digits" 
        },
       
        deviceId: "Please enter Device Id",
        email: {
          required: "Please enter email",
          email: "Please enter a valid email address",
        },
        
      },
    });
  });
</script>
